@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    background-color: rgba(241, 116, 241, 0.185);
}
p {
    font-family: 'Sacramento', cursive;
    font-weight: bolder; 
    font-size: 40px; 
    text-align: center; 
    border-bottom: 5px solid rgba(205, 134, 63, 0.788);
    padding-bottom: 10px;
    width: 47.5%;
    margin: auto;
}
img {
    width: 22.5%;
    margin: 1.25%;
    float: left;
}
